<html>
  <body>
    Gain:
    <input type="range" class="Amp/Gain" minValue=1 maxValue=100 value=600>
    <br>
    Bass
    <input type="range" class="Amp/Bass" maxValue=80 value=40>
    <br>
    Middle
    <input type="range" class="Amp/Middle" maxValue=80 value=40>
    <br>
    Treble
    <input type="range" class="Amp/Treble" maxValue=80 value=40>
    <br>
    Reverb
    <input type="range" class="Amp/Reverb" maxValue=80 value=40>
    <br>
    Master
    <input type="range" class="Amp/Master" minValue=0 maxValue=1 value=1>
  </body>
  <script>
  </script>
</html>
